@charset "UTF-8";
/* font style */
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
/* color code*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Italiana", serif;
  font-size: 16px;
}

img {
  max-width: 100;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

.container {
  top: 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 1280px;
  background: url(../img/background.png) no-repeat center center/cover;
}

.header {
  margin: 0 auto 20px;
  text-align: center;
  padding-top: 235px;
  width: 900px;
}

.month {
  font-size: 30px;
}

.title {
  font-size: 40px;
  font-weight: 700;
}
.title h1 {
  margin: 0 0 20px;
}

#input {
  display: inline-block;
  width: 300px;
  padding: 10px;
  border-bottom: 1px solid #ccd6a6;
  border-right: none;
  border-left: none;
  border-top: none;
  background: transparent;
  outline: none;
}
#input:focus {
  border-bottom: 3px solid #dae2b6;
}

#btn__addTask {
  cursor: pointer;
  margin-left: 20px;
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  background-color: #ccd6a6;
  color: #fff;
  border: solid 2px #ccd6a6;
  font-size: 18px;
  border-radius: 3px;
  transition: 0.4s;
}
#btn__addTask:hover {
  background-color: #fff;
  color: #ccd6a6;
  border: solid 2px #ccd6a6;
}

#lists {
  width: 390px;
  height: 535px;
  margin: 0 auto;
}

.listItem {
  font-size: 20px;
  line-height: 20px;
  border-bottom: #f7eddb 4px dotted;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.listItem.is-active {
  text-decoration: line-through;
}

.removeButton {
  cursor: pointer;
  margin-left: 20px;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #dae2b6; /* 枠の調整 */
  color: #dae2b6;
  border-radius: 50%; /* 丸みの度合い */
  background: #fff; /* ボタンの背景色 */
}
.removeButton::before, .removeButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* 棒の幅（太さ） */
  height: 22px; /* 棒の高さ */
  background: #dae2b6; /* バツ印の色 */
}
.removeButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.removeButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}